* {
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Montserrat,sans-serif;
  padding: 0;
  margin: 0;
  border: none
}
html {
  scroll-behavior: smooth;
  height: 100%
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  min-width: 320px;
  background-color: #fff;
  font-size: 16px;
  overflow-y: scroll;
  color: #001110
}
picture {
  display: block
}
img {
  display: block;
  width: 100%;
  min-height: 1px;
  vertical-align: top
}
li {
  list-style-type: none
}
a {
  color: inherit;
  cursor: pointer
}
button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.wrapper {
  position: relative;
  scroll-behavior: smooth;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto
}
.cont {
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
  max-width: 1208px
}
.caption {
  font-size: 48px;
  line-height: 58px
}
.title {
  font-size: 40px;
  line-height: 48px
}
.headline {
  font-size: 28px;
  line-height: 39px
}
.text-big {
  font-size: 20px;
  line-height: 28px
}
.text {
  font-size: 16px;
  line-height: 22px
}
.text-small {
  font-size: 14px;
  line-height: 18px
}
.text-tiny {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -.01em
}
.text-error {
  display: block;
  margin-top: 4px;
  color: #eb5757;
  font-size: 12px;
  line-height: 16px
}
.text-error_hide {
  display: none
}
.button-red {
  display: inline-block;
  vertical-align: top;
  border: none;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  background-color: #eb5757;
  color: #fff;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: .2s;
  transition-duration: .2s
}
.button-red:disabled {
  color: rgba(0,17,16,.3);
  background-color: #e1e1e1;
  pointer-events: none
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/montserrat.woff2) format("woff2"),url(../fonts/montserrat.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/montserratbold.woff2) format("woff2"),url(../fonts/montserratbold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: block
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--font-oswald);
  font-weight: 400
}
a,
a:hover,
a:link,
a:visited {
  text-decoration: none
}
aside,
footer,
header,
legend,
main,
nav,
section {
  display: block
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit
}
ul,
ul li {
  list-style: none
}
img,
svg {
  max-width: 100%;
  height: auto
}
address {
  font-style: normal
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent
}
input::-ms-clear {
  display: none
}
button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: 0 0;
  cursor: pointer
}
button:active,
button:focus,
input:active,
input:focus {
  outline: 0
}
button::-moz-focus-inner {
  padding: 0;
  border: 0
}
label {
  cursor: pointer
}
.link-red {
  text-decoration: none;
  cursor: pointer;
  color: #eb5757
}
.link-white {
  text-decoration: none;
  cursor: pointer;
  color: #fff
}
.header {
  position: relative;
  z-index: 10;
  background: linear-gradient(122.01deg,#006f69 -3.14%,#001a18 100.73%)
}
.header_transparent {
  background: 0 0
}
.header_transparent .header__phone-link {
  color: #001110
}
.header__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.header__logo {
  display: block;
  margin-left: -16px;
  padding: 31px 16px;
  width: 164px;
  height: 104px;
  background-image: url(../images/logo.svg);
  background-size: 132px 42px;
  background-repeat: no-repeat;
  background-position: center center
}
.header__logo-image {
  width: 132px;
  height: 42px
}
.header__phone-link {
  padding: 10px 0;
  font-weight: 700
}
.footer {
  padding: 42px 0;
  background-color: #001110
}
.footer__cont {
  text-align: center
}
.footer__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px
}
.footer__logo {
  display: block;
  margin-right: 109px;
  width: 132px;
  height: 42px;
  background-image: url(../images/logo.svg);
  background-size: 132px 42px;
  background-repeat: no-repeat;
  background-position: center center
}
.footer__policy-link {
  position: relative;
  display: inline-block;
  margin-top: 7px;
  vertical-align: top;
  color: #fff
}
.footer__copyright {
  display: block;
  margin-top: 7px;
  color: #fff
}
.footer__link {
  display: inline-block;
  margin: 0 auto
}
.error404 {
  margin-top: 201px;
  margin-bottom: 342px
}
.error404__caption {
  margin-bottom: 24px;
  text-align: center
}
.error404__text {
  margin-bottom: 48px;
  text-align: center
}
.error404__btn-box {
  text-align: center
}
.error404__link {
  padding: 15px 72px;
  text-align: center
}
@media (min-width:1240.1px) {
  .button-red {
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: background-color;
    transition-property: background-color
  }
  .button-red:hover {
    -webkit-transition-duration: .1s;
    transition-duration: .1s
  }
  .button-red:not(.button-red:disabled):active {
    background-color: #e73737
  }
  .link-red {
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
  }
  .link-red:hover {
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    color: #ff8989
  }
  .link-white {
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
  }
  .link-white:hover {
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    color: #eb5757
  }
  a.header__logo {
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
  }
  a.header__logo:hover {
    opacity: .8
  }
  a.footer__logo {
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
  }
  a.footer__logo:hover {
    opacity: .8
  }
}
@media (min-width:1240.1px) and (min-width:1240.1px) {
  .button-red:hover {
    background-color: #ff8989
  }
}
@media (max-width:1240px) {
  .cont {
    max-width: 884px
  }
  .caption {
    font-size: 31px;
    line-height: 37px
  }
  .title {
    font-size: 26px;
    line-height: 31px
  }
  .headline {
    font-size: 22px;
    line-height: 31px
  }
  .text-big {
    font-size: 18px;
    line-height: 25px
  }
  .header_transparent .header__phone-link {
    color: #fff
  }
  .header__logo {
    padding: 16px;
    height: 74px
  }
  .footer__policy-link::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 3px;
    height: 1px;
    background-color: #fff
  }
  .error404 {
    margin-top: 80px;
    margin-bottom: 80px
  }
  .error404__caption {
    margin-bottom: 20px
  }
  .error404__text {
    margin-bottom: 32px
  }
}
@media (max-width:950px) {
  .cont {
    max-width: 680px
  }
  .footer {
    padding: 32px 0
  }
  .footer__cont {
    text-align: left
  }
  .footer__area {
    margin-bottom: 12px;
    display: block
  }
  .footer__logo {
    margin-bottom: 18px;
    margin-right: 0
  }
  .footer__policy-link {
    margin-bottom: 16px;
    margin-top: 0
  }
  .footer__copyright {
    margin-top: 0
  }
}
@media (max-width:700px) {
  .cont {
    max-width: 500px
  }
  .header__phone-link {
    width: 60px;
    height: 75px;
    margin-right: -16px;
    background-image: url(../images/ic_phone_white.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0
  }
}
@media (max-width:520px) {
  .cont {
    max-width: 424px
  }
  .error404__link {
    width: 100%;
    padding: 15px 36px
  }
}